################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/mediator.learn/FileContentIndex/d3c5b48e-346b-425e-a912-86da1f56178a.vsidx
